!= partial('errors')

.name
  h3
    label( for: 'name' ) Name
  input( type: 'text', name: 'name', id: 'name', placeholder: 'Witty Team Name', value: team.get('name') )

.members
  h3 Member Emails (including yours)
  .note We don&rsquo;t spam.
  ol#members
    - if (typeof(people) === 'undefined') people = []
    - each person in people
      li
        img.avatar( src: gravatar_url(person) )
        a( href: '/people/' + person.id )= person.github.login
    - for (var i = 0; i < 4 - people.length; i++)
      li
        input.email( type: 'email', name: 'emails[]', value: team.emails[i], placeholder: 'member' + (people.length+i+1) + '@team.com' )
