!= partial('errors')

.name
  h3
    label( for: 'name' ) Name
  input( type: 'text', name: 'name', id: 'name', placeholder: 'Witty Team Name', value: team.get('name') )

.members
  h3 Member Emails
  .note We don&rsquo;t spam.
  ol#members
    - for (var i = 0; i < 4; i++)
      li
        input.email( type: 'text', name: 'emails[]', value: team.emails[i], placeholder: 'member' + (i+1) + '@team.com' )
