- title('Teams')

h1 Teams
ul.teams
  - toPeople = function(team) { return _.map(team.people_ids, function(id) { return people[id]; }) };
  - each team in teams
    - members = toPeople(team)
    li
      h3: a( href: '/teams/' + team.id )= team.name
      .members
        ul.members
          - each m in members
            li: a( href: '/people/' + m.id )
              img.avatar( src: avatar_url(m), title: m.login )
        ul.members
          - each m in members
            li: a( href: '/people/' + m.id)= m.login
      .location
        = _.uniq(_.compact(_.map(members, function(m) { return m.github.location; }))).join('; ')
      .description!= markdown(team.description)
  .more: a( href: '/teams?page=' + (Number(req.param('page') || 1) + 1) ) more
