:markdown
  # Too many teams!

  The maximum number of teams has been reached. To keep the judging quality
  high we limit the number of teams so that each expert judge can provide
  quality feedback.

  But don't worry! You still have a few options:

  - Try to join an [existing team](/teams).
  - Tweet about your misfortune (be sure to mention [@node_knockout]) and
    we can help you find a team.
  - Check back later: a team may give up their spot or [we may open up more 
    spots][1].

  [existing team]:/teams
  [@node_knockout]:http://twitter.com/node_knockout
  [1]:http://twitter.com/#!/node_knockout/status/92832207592370176
