:markdown
  # Too many teams!

  The maximum number of teams has been reached. To keep the judging quality
  high we limit the number of teams so that each expert judge can provide
  in-depth feedback.

  But don't worry! You still have a few options:

  - **We may open more spots; [follow us to get notified][1].**
  - Check back later: a team may give up their spot at any time.
  - Try to join an [existing team](/teams).
  - Tweet about your misfortune (be sure to mention [@node_knockout]) and
    we can help you find a team.

  [existing team]:/teams
  [@node_knockout]:http://twitter.com/node_knockout
  [1]:http://twitter.com/node_knockout
