:markdown
  # Too many teams!

  The maximum number of teams has been reached. You still have a few options
  though:

  - Check back later; an existing team may have given up their spot
  - Try to join an [existing team](/teams)
  - Tweet about your misfortune (be sure to mention @node_knockout) and
    we can help you find a team
