- title('Too many teams!')

:markdown
  # Too many teams!

  ## More spots *may* open at [0:00 GMT]

  Exactly how many spots will open is dependent on the number of judges
  we can get, so [help us find more judges][1].

  ## Details

  To keep the judging quality high we limit the number of teams so that each
  expert judge can provide in-depth feedback.

  Your options are:

  - Be here at [0:00 GMT] when we open up more spots.
  - Check back randomly. Teams may give up their spot at any time.
  - Peruse the [existing teams](/teams) and try to find one to join.
  - Tweet about your misfortune (be sure to mention [@node_knockout]) and
    we can try to help you find a team to join.

  [0:00 GMT]: http://www.wolframalpha.com/input/?i=0:00+GMT
  [1]: /judges/new
  [existing teams]: /teams
  [@node_knockout]: http://twitter.com/node_knockout
