- title('Register')

h1 Register a Team

p
  | Not sure? No worries! You can update these details (including membership
  | changes) after registration too.

form( method: 'POST', action: '/teams' )
  != partial('form')
  input( type: 'submit', value: 'Register' )
