h1
  = title(team.name)
  - if (team.includes(user, session.team))
    | 
    a.button( href: '/teams/' + team.id + '/edit' ) Manage

- if (people.length)
  h2 Members
  ul.people
    - each person in people
      li
        img.avatar( src: gravatar_url(person) )
        a( href: '/people/' + person.id )= person.github.login

- if (team.invites.length)
  h2 Invites (#{team.invites.length} pending)
  - if (team.includes(user, session.team))
    p Check your email for invites or resend invites below.
    ul.invites
      - each invite in team.invites
        li
          #{invite.email} &mdash;
          a( href: '/teams/' + team.id + '/invite/' + invite.id, rel: 'nofollow' ) resend
          span.sending
  - if (team.invited(session.invite))
    h2 You're invited to this team!
    p.accept
      a.button( href: '/auth/github' ) Accept Invitation
      |  via
      img( src: '/images/github.png', style: 'margin-bottom: -4px;' )
      | github
