h1
  = team.name
  - if (team.includes(user))
    | 
    a.button( href: '/teams/' + team.id + '/edit' ) Manage

- if (people.length)
  h2 members
  ul.people
    - each person in people
      li
        img.avatar( src: gravatar_url(person) )
        a( href: '/people/' + person.id )= person.github.login

- if (team.invites.length)
  h2 #{team.invites.length} pending invites
  - if (team.includes(user))
    ul.invites
      - each invite in team.invites
        li
          = invite.email
          | &mdash; 
          a( href: '/teams/' + team.id + '/invite/' + invite.id, rel: 'nofollow' )
            | resend
          span.sending
  - if (team.invited(invite))
    | You're invited to this team! Hurrah!
    p: a.button( href: '/auth/github' ) Accept Invitation
