#page.about
  header
    h1 about
  :markdown
    node.js knockout is a 48-hour competition to write node.js apps. it is
    based heavily on [rails rumble].

    design by 734m: [@burnto], [@huned], [@visnup], & [@gerad].
    props to [#sworcery] & [@the1console].
    it has been set in [04b_03]. no pixels were harmed in the making. peace.

    [rails rumble]: http://railsrumble.com
    [nodeconf talk]: #slide-0
    [@burnto]: http://twitter.com/burnto
    [@huned]: http://twitter.com/huned
    [@visnup]: http://twitter.com/visnup
    [@gerad]: http://twitter.com/gerad
    [#sworcery]: http://www.swordandsworcery.com/
    [@the1console]: https://twitter.com/the1console
    [04b_03]: http://www.04.jp.org
