!!! 5
html
  head
    meta( charset: 'utf-8' )
    meta( http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1' )
    meta( name: 'viewport', content: 'width=800,initial-scale=1' )
    title node.js knockout
    link( rel: 'stylesheet', href: '/stylesheets/application.css' )
    script _gaq = [['_setAccount', 'UA-16773586-1'], ['_trackPageview']];
    script( async: true, src: '//www.google-analytics.com/ga.js' )
  body
    #page
      aside
      != body
    script( src: '/socket.io/socket.io.js' )
    script( src: '/javascripts/all.js' )
    script
      $('a').live('mousedown', function() {
        var href = this.href;
        try {
          if (/^https?:/.test(href)) { _gaq.push([ '_trackPageview', href ]); }
        } catch(e) {}
      });
