!!! 5
html
  head
    meta( charset: 'utf-8' )
    meta( http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1' )
    meta( name: 'viewport', content: 'width=800,initial-scale=1' )
    title
      - if (title())
        = title()
        |  &mdash;
      | Node.js Knockout
    link( href: 'http://fonts.googleapis.com/css?family=VT323&v2', rel: 'stylesheet', type: 'text/css' )
    link( rel: 'stylesheet', href: '/stylesheets/application.css' )
    script _gaq = [['_setAccount', 'UA-16773586-1'], ['_trackPageview']];
    script( async: true, src: '//www.google-analytics.com/ga.js' )
  body
    #page( class: view.replace(/\//g,'-') )
      aside
        .login
          - if (user)
            img.avatar( src: gravatar_url(user) )
            a( href: '/people/me' )= user.github.login
            |  |
            a( href: '/logout' ) Sign out
          - else
            a.button( href: '/login' ) Sign in
            //a.button( href: '/auth/facebook' ) Connect
            .via
              | via
              img.via-github( src: '/images/github.png' )
              | github

        h3 Important dates
        table.important-dates
          tr
            th Registration
            td 7/13 &mdash; 8/20
          tr
            th Competition
            td 8/27 &mdash; 8/29
          tr
            th Judging
            td 8/29 &mdash; 9/5&nbsp;

        ul.sponsors
          li: a( href: 'http://www.joyent.com/' )
            img.joyent( src: '/images/sponsors/joyent.png' )
          li: a( href: 'https://github.com/' )
            img.github( src: '/images/sponsors/github.png' )
          li: a( href: 'http://www.heroku.com/' )
            img.heroku( src: '/images/sponsors/heroku.png' )
          li: a( href: 'http://www.linode.com/index.cfm' )
            img.linode( src: '/images/sponsors/linode.png' )
          li: a( href: 'https://mongohq.com/home' )
            img.mongohq( src: '/images/sponsors/mongohq.png' )
          li: a( href: 'http://www.nodejitsu.com/' )
            img.nodejitsu( src: '/images/sponsors/nodejitsu.png' )
          li: a( href: 'http://pusher.com/' )
            img.pusher( src: '/images/sponsors/pusher.png' )
          li: a( href: 'http://spreecast.com/' )
            img.spreecast( src: '/images/sponsors/spreecast.png' )
          li: a( href: 'http://www.nodeconf.com/summercamp.html' )
            img.summercamp( src: '/images/sponsors/summercamp.gif' )
          li.interested
            a( href: 'mailto:all@nodeknockout.com?subject=Sponsoring' ) Interested in sponsoring?

      #inner
        header
          h1: a( href: '/' )
            | node.js
            span.ko ko
          nav: ul
            - if (!user)
              li: a( href: '/teams/new' ) Register
            li: a( href: '/rules' ) Rules
            li: a( href: '/locations' ) Locations
            li: a( href: '/teams' ) Teams
            //li: a( href: 'http://twitter.com/node_knockout' ) Twitter

        != body
    script( src: '/socket.io/socket.io.js' )
    script( src: '/javascripts/'+(cacheTimeStamps.js || '007')+'/all.js' )
    script
      $('a').live('mousedown', function() {
        var href = this.href;
        try {
          if (/^https?:/.test(href)) { _gaq.push([ '_trackPageview', href ]); }
        } catch(e) {}
      });
