!!! 5
html
  head
    meta( charset: 'utf-8' )
    meta( http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1' )
    meta( name: 'viewport', content: 'width=800,initial-scale=1' )
    meta( name: '_csrf', content: req.session._csrf )
    title
      - if (title())
        = title()
        |  &mdash;
      | Node.js Knockout
    link( href: 'http://fonts.googleapis.com/css?family=Droid+Sans', rel: 'stylesheet', type: 'text/css' )
    link( rel: 'stylesheet', href: '/stylesheets/application.css' )
    script _gaq = [['_setAccount', 'UA-16773586-1'], ['_trackPageview']];
    script( async: true, src: '//www.google-analytics.com/ga.js' )
  body
    #page( class: view.replace(/\//g,'-') )
      aside
        .login
          - if (user)
            img.avatar( src: avatar_url(user) )
            a( href: '/people/me' )= user.login
            |  |
            a( href: '/logout' ) Sign out
          - else
            a.button( href: '/login' ) Sign in

        h3 Important dates
        table.important-dates
          tr
            th Registration
            td 7/13 &ndash; 8/20*
          tr
            th Competition
            td 8/27 &ndash; 8/29
          tr
            th Judging
            td 8/29 &ndash; 9/5
          tr
            th.asterisk( colspan: 2 ) *space permitting

        ul.sponsors
          - _.shuffle(sponsors).forEach(function(sponsor) {
            li: a( href: sponsor.url )
              img( src: '/images/sponsors/' + sponsor.image, class: sponsor.image.replace(/\.\w+$/, '') )
          - });
          li.interested
            a( href: 'mailto:all@nodeknockout.com?subject=Sponsoring' ) Interested in sponsoring?

      #inner
        header
          h1: a( href: '/' )
            | node.js
            span.ko ko
          nav: ul
            li: a( href: '/rules' ) Rules
            li: a( href: '/locations' ) Locations
            li: a( href: '/teams' ) Teams
            li: a( href: '/judges' ) Judges
            li: a( href: '/sponsors' ) Sponsors
            li: a( href: '/faq' ) FAQ

        #flash
          - if (flash.info)
            p.info= flash.info
        != body

        footer: ul
          li
            | email
            a( href: 'mailto:all@nodeknockout.com' ) all@nodeknockout.com
          li
            | twitter
            a( href: 'http://twitter.com/node_knockout' ) @node_knockout
          li
            | old
            a( href: 'http://2010.nodeknockout.com' ) 2010
          li
            | run by
            a( href: 'http://fortnightlabs.com' ) fortnight labs
    script( src: '/socket.io/socket.io.js' )
    script( src: '/javascripts/'+(assetManager.cacheHashes.js || '007')+'/all.js' )
    script
      $('a').live('mousedown', function() {
        var href = this.href;
        try {
          if (/^https?:/.test(href)) { _gaq.push([ '_trackPageview', href ]); }
        } catch(e) {}
      });
      $(function() {
        if (nko.me)
          nko.me.div.prop('title', !{JSON.stringify(req.user && req.user.login || null)});
      });
