- title('About')
:markdown
  # About

  Node.js Knockout is a 48-hour hackathon featuring [node.js]. It's an online,
  virtual competition with [contestants worldwide].

  Coding takes place from August 27, 2011 0:00 GMT to August 29, 2011 0:00 GMT.
  Judging and public voting will take place the following week.

  This is the second year it's been held. You can still see the [results of
  last year's knockout].

  ### Credits

  - Core organizers: [@gerad]  [@visnup]
  - Design: [Team 734m] = [@burnto] + [@huned] + ([@visnup] + [@gerad])
  - Design inspiration: [#sworcery]  [@the1console]
  - Additional help: ♥  [@mape]  [@miksago]  [@dshaw]  ♥
  - Original idea: [Rails Rumble]
  - Props: Node.js is a trademark of [Joyent, Inc.]

  ### Logos

  - [PNG 3700x1000](/designs/exports/png/nko-logo-3700x1000.png)
  - [PDF](/designs/exports/pdf/nko-logo.pdf)
  - [Adobe Illustrator](/designs/nko-logo.ai)

  ### Key Stats

  <table>
    <tr><th>Teams</th>       <td>#{teams}</td></tr>
    <tr><th>Contestants</th> <td>#{people}</td></tr>
  </table>

  ### Colophon

  Headings are in [04b_03] and the body font is [Droid Sans]. Droid is a
  trademark of Lucasfilm, Ltd. and its related companies. Sans is just a French
  preposition that means "[without]".

  [node.js]: http://nodejs.org/
  [contestants worldwide]: /locations
  [results of last year's knockout]: http://2010.nodeknockout.com

  [Rails Rumble]: http://railsrumble.com/
  [Team 734m]: http://2010.nodeknockout.com/teams/734m
  [Joyent, Inc.]: http://www.joyent.com/

  [@burnto]: http://twitter.com/burnto
  [@huned]: http://twitter.com/huned
  [@visnup]: http://twitter.com/visnup
  [@gerad]: http://twitter.com/gerad
  [@mape]: http://twitter.com/mape
  [@miksago]: http://twitter.com/miksago
  [@dshaw]: http://twitter.com/dshaw

  [#sworcery]: http://www.swordandsworcery.com/
  [@the1console]: https://twitter.com/the1console

  [04b_03]: http://www.04.jp.org
  [Inconsolata]: http://www.google.com/webfonts/specimen/Inconsolata
  [Droid Sans]: http://www.google.com/webfonts/specimen/Droid+Sans
  [without]: http://en.wikipedia.org/wiki/Sans-serif
