- title('FAQ')
:markdown
  # FAQ

  ### Who's behind this?

  - Core organizers: [@gerad]  [@visnup]
  - Design: [Team 734m] = [@burnto] + [@huned] + ([@visnup] + [@gerad])
  - Design inspiration: [#sworcery]  [@the1console]
  - Additional help: ♥  [@mape]  [@miksago]  [@dshaw]  ♥
  - Original idea: [Rails Rumble]
  - Props: Node.js is a trademark of [Joyent, Inc.]

  ### What font is this?

  Headings are in [04b_03] and the body font is [Droid Sans]. Droid is a
  trademark of Lucasfilm, Ltd. and its related companies. Sans is just a French
  preposition that means "[without]".

  ### Isn't this a rip-off of Sword & Sworcery?

  Kinda, but isn't [#sworcery] a pastiche of '80s and '90s 8-bit games and
  aesthetics? (Been looking for a chance to use "pastiche" for days.) We love
  \#sworcery and think it's awesome. It stretched our brains and made us want
  to draw pixel art. All sprites are original and hand-drawn by [@burnto],
  [@huned], and [@visnup].

  [Rails Rumble]: http://railsrumble.com/
  [Team 734m]: http://2010.nodeknockout.com/teams/734m
  [Joyent, Inc.]: http://www.joyent.com/

  [@burnto]: http://twitter.com/burnto
  [@huned]: http://twitter.com/huned
  [@visnup]: http://twitter.com/visnup
  [@gerad]: http://twitter.com/gerad
  [@mape]: http://twitter.com/mape
  [@miksago]: http://twitter.com/miksago
  [@dshaw]: http://twitter.com/dshaw

  [#sworcery]: http://www.swordandsworcery.com/
  [@the1console]: https://twitter.com/the1console

  [04b_03]: http://www.04.jp.org
  [Inconsolata]: http://www.google.com/webfonts/specimen/Inconsolata
  [Droid Sans]: http://www.google.com/webfonts/specimen/Droid+Sans
  [without]: http://en.wikipedia.org/wiki/Sans-serif
