.slide#slide-0
  :markdown
    # how to win at node.js knockout

    ## ground rules
     * node.js + 48 hours
     * teams of up to 4
     * don't cheat, be cool

    ## why do I care?
     * [prizes], glory
     * try out node.js
     * finally build that idea you've had

    [prizes]: http://2010.nodeknockout.com/prizes

.slide#slide-1
  :markdown
    # know thy audience

    * we [publish the judges][1]
      * "would they get this?"
      * technology category this year
    * no login, no signup
    * [browser breakdown][2]

    [1]: http://2010.nodeknockout.com/judges
    [2]: http://2010.nodeknockout.com/faq

.slide#slide-2
  :markdown
    # click click click click click click click

    * cheat the [popular vote][1]
    * be controversial, newsworthy
    * **brain hacking**
      * empathy + delight

    [1]: http://2010.nodeknockout.com/judging

.slide#slide-3
  h1 plan ahea<sup>d</sup>
  :markdown
    * sketch out everything beforehand
    * familiarize yourself with libs
    * know your tools: git, npm, core api
    * divide and conquer
    * cut scope-able
    * message on bugs, news

.slide#slide-4
  :markdown
    # there is no I in team

    * work with people you know
    * dream team: 2 designers + 2 developers

.slide#slide-5
  :markdown
    # frak tests

    * deploy early
    * don't write tests
    * leverage hosted services
    * leverage node.js

.slide#slide-6
  h1
    a( href: 'http://en.wikipedia.org/wiki/Dorodango' ) dorodango
    |  for all!
  :markdown
    * spend an entire day polishing
    * 2 designers?
    * smoke & mirrors

.slide#slide-7
  :markdown
    # yo dude, 'sup?

    * take breaks
      * sketch on paper
      * talk to your team
      * cut the feature (or hack around it)
    * sleep
    * eat

.slide#slide-8
  :markdown
    # questions?

.slide#slide-9
  h1 thanks

  ul
    li
      a( href: 'http://nodeknockout.com' ) nodeknockout.com

  ul
    li
      b
        a( href: 'http://twitter.com/node_knockout' ) @node_knockout
    li
      a( href: 'mailto:all@nodeknockout.com' ) all@nodeknockout.com

  ul
    li
      a( href: 'http://twitter.com/visnup' ) @visnup
      |  / fortnight labs &mdash; I'm hiring!
