h3
  | node.js knockout is a 48-hour coding contest featuring
  a( href: 'http://nodejs.org' ) node.js
  | .

section
  h2
    | node.js knockout 2011 will be
    .dates
      time.start( datetime: '2011-08-27T00:00:00Z' ) August 27
      |  &mdash;
      time.end( datetime: '2011-08-29T00:00:00Z' ) August 29, 2011
    #countdown

section
  - if (team)
    a.button( href: '/teams/' + team.id ) View Your Team
  - else
    a.register.button( href: '/teams/new' ) Register a Team

section
  h2 What else can I do until then?
  p
    a( href: 'http://twitter.com/node_knockout' ) Follow us on Twitter
    | ,
    a( href: 'http://2010.nodeknockout.com/' ) see 2010's winners
    | , or
    a( href: 'http://github.com/nko2/website' ) contribute on github
    | .

section
  h2 Want to sponsor or help?
  ul
    li Contact us:
    li: a( href: 'mailto:all@nodeknockout.com' ) all@nodeknockout.com
    li: a( href: 'http://twitter.com/node_knockout' ) @node_knockout
    li: a( href: 'http://nodeknockout.posterous.com' ) blog
    li: a( href: 'http://2010.nodeknockout.com' ) 2010 website
