- title('Locations')

:markdown
  # Locations

  Contestants may compete "virtually" from anywhere in the world, but [Joyent]
  will be hosting Knockout HQ in San Francisco and several groups worldwide
  have graciously organized space for contestants to work from, meet up, and
  have an awesome time.

  ## San Francisco

  [Joyent] will be providing food and drinks for participants. You’ll get to
  meet [Ryan "node.js" Dahl][1], [Isaac Z. "npm" Schlueter][2], and the rest of
  the Knockout organizers.

  Space is limited, so [stay tuned] for details.

  [Joyent]:http://www.joyent.com/
  [1]:https://github.com/ry
  [2]:https://github.com/isaacs
  [stay tuned]:http://twitter.com/node_knockout

p#map
  iframe( width: 576, height: 356, frameborder: 0, scrolling: "no", marginheight: 0, marginwidth: 0, src: "http://maps.google.com/maps?q=345+California+St,+San+Francisco,+CA(Knockout+HQ+@+Joyent)&output=embed" )

:markdown
  ## Other Locations

  Not in San Francisco? Find node.js-loving enthusiasts worldwide. Want to host
  a satellite location? [Send us a pull request] or [let us know].

  [Send us a pull request]: https://github.com/nko2/website/blob/master/views/index/locations.jade
  [let us know]: mailto:all@nodeknockout.com

ul.locations
  li
    h4#cape-town Cape Town, South Africa
    - address = escape('71 Roeland St, Cape Town')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://thisarmy.com/' ) thisarmy
    h5
      | Tank, First Floor
      br
      | 71 Roeland St, Cape Town
    p Contact 
      a( href: 'http://twitter.com/__leroux' ) @__leroux
      .

  li
    h4#cologne Cologne, Germany
    - address = escape('Deutz-Mülheimerstraße 129, 51063 Köln, Germany')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://railslove.com/' ) Railslove
      br
      a( href: 'http://www.coworkingcologne.de/' ) @ cowoco
    h5
      | Deutz-Mülheimerstraße 129
      br
      | 51063 Köln
    p Contact 
      a( href: 'mailto:michael@railslove.com' ) michael@railslove.com
      .

  li
    h4#copenhagen Copenhagen, Denmark
    - address = escape('Gothersgade 8B, 1123 Copenhagen')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://www.nodeclub.dk/' ) Node Club Copenhagen
      br
      a( href: 'http://foundershouse.dk/' ) @ Founders House
    h5
      | Boltens Gaard
      br
      | Gothersgade 8B, 1123 Copenhagen
    p
      | Drinks are on the house and good pizza, bagels, and kebabs are 30-50
      | meters away.

  li
    h4#dresden Dresden, Germany
    - address = escape('Lingnerallee 3, 01069 Dresden')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'https://www.c3d2.de/' ) C3D2 HQ
    h5
      | Lingnerallee 3
      br
      | 01069 Dresden
    p There'll be Club Mate!

  li
    h4#london London, UK
    - address = escape('19 Mandela Street, London, NW1 0DU, United Kingdom')
    a( href: 'http://www.forward.co.uk/contact' )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://www.forward.co.uk/' ) Forward
      | , 
      a( href: 'http://pusher.com/' ) Pusher
      | , &amp;
      a( href: 'http://www.gosquared.com/' ) GoSquared
    h5
      | Floor 2, Centro 3
      br
      | 19 Mandela Street, London, NW1 0DU
    p Free pizza and beers. More details soon.

  li
    h4#munich Munich, Germany
    - address = escape('Sonnenstraße 32, 80331 München')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3: a( href: 'http://coworkingmunich.de/' ) coworkingmunich.de
    h5
      | Sonnenstraße 32
      br
      | 80331 München
    p
      | Coworking space for free to all attendees during the contest.
      | Contact
      a( href: 'mailto:counter@coworkingmunich.de' ) counter@coworkingmunich.de

  li
    h4#nyc New York
    - address = escape('902 Broadway 4th Floor, New York, NY, 10016')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://www.nodejitsu.com/#/home' ) nodejitsu
      br
      a( href: 'http://www.generalassemb.ly/' ) @ General Assembly
    h5
      | 902 Broadway, 4th Floor
      br
      | New York, NY, 10016
    p Details soon.

  li
    h4#paris Paris, France
    - address = escape('16 rue Gaillon, 75002 Paris')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3: a( href: 'http://joshfire.com/contact/' ) Joshfire
    h5
      | 16 rue Gaillon
      br
      | 75002 Paris
    p We have space for at least 10 teams.

  li
    h4#santa-monica Santa Monica / Los Angeles
    - address = escape('902 Colorado, Santa Monica, CA 90401')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://www.mahalo.com/' ) Mahalo HQ
    h5
      | 902 Colorado Ave
      br
      | Santa Monica, CA 90401
    p
      | Sodas plus pizza for lunch both days. Contact
      a( href: 'http://twitter.com/joshontheweb' ) @joshontheweb
      |  with questions.

  li
    h4#singapore Singapore
    - address = escape('99B Tanjong Pagar Road, Singapore 088520')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://2359media.com/' ) 2359 media
    h5
      | 99B Tanjong Pagar Road
      br
      | Singapore 088520
    p
      | A fridge, complimentary monitors, keyboards, and mice. Contact
      a( href: 'mailto:seivan.heidari@2359media.com' ) Seivan Heidari
      | .

  li
    h4#stockholm Stockholm, Sweden
    - address = escape('Birger Jarlsgatan 18, 114 34, Stockholm, Sweden')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://hanssonlarsson.se/' ) Hansson & Larsson Internet AB
    h5
      | Birger Jarlsgatan 18A, 5 tr
      br
      | 114 34 Stockholm
    p
      | Everybody welcome during the knockout. We will provide coffee and beer.
      | Contact 
      a( href: 'http://twitter.com/yesbabyyes' ) @yesbabyyes
      |  with any questions.

  li
    h4#tokyo Tokyo, Japan
    - address = escape('東京都港区芝浦１丁目１４−６')
    a( href='http://maps.google.co.jp/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'https://groups.google.com/forum/#!forum/nodejs_jp' ) Node.js日本ユーザグループ
    h5 東京都港区芝浦1-14-6 BSビル3F
    p
      | Everybody welcome during whole knockout with free drinks. Contact 
      a( href: 'http://twitter.com/meso' ) @meso
      .

  li
    h4#treviso Treviso, Italy
    - address = escape('Via Sile, 41, 31056 Roncade Treviso')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://www.h-farmventures.com/' ) H-farm
    h5
      | Via Sile, 41
      br
      | Roncade Treviso
    p Contact 
      a( href: 'http://twitter.com/johnnyaboh' ) @johnnyaboh
      .

  li
    h4#poa Porto Alegre, Brazil
    - address = escape('Rua Liberdade 553, Porto Alegre, Brazil')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://www.softa.com.br/' ) Softa
    h5
      | Rua Liberdade 553
      br
      | Porto Alegre
    p Contact 
      a( href: 'http://twitter.com/joaomilho' ) @joaomilho
      .
