:markdown
  # Locations

  Contestants may compete "virtually" from anywhere in the world, but [Joyent]
  will be hosting Knockout HQ in San Francisco again this year.

  ## San Francisco

  Details soon.

  ## Other Locations

  Not in San Francisco? Find node.js-loving enthusiasts worldwide. Want to host
  a satellite location? [Let us know].

  [Joyent]:http://www.joyent.com/
  [Let us know]:mailto:all@nodeknockout.com

h3 Munich, Germany
a( href="http://maps.google.com/maps?q=Sonnenstr+32,+80331+München" )
  img.map( src="http://maps.googleapis.com/maps/api/staticmap?center=Sonnenstr+32,+80331+München&zoom=15&size=226x140&sensor=false&markers=size:small|Sonnenstr+32,+80331+München" )
h4: a( href: 'http://coworkingmunich.de/' ) coworkingmunich.de
h5 Sonnenstraße 32, 80331 München
p
  | Coworking space for free to all attendees during the contest.
  | Contact
  a( href: 'mailto:counter@coworkingmunich.de' ) counter@coworkingmunich.de
  .

h3 New York
a( href="http://maps.google.com/maps?q=902 Broadway+4th+Fl,+New+York,+NY,+10016" )
  img.map( src="http://maps.googleapis.com/maps/api/staticmap?center=902+Broadway+New+York,+NY,+10016&zoom=15&size=226x140&sensor=false&markers=size:small|902+Broadway+New+York,+NY,+10016" )
h4: a( href: 'http://coworkingmunich.de/' ) nodejitsu @ General Assembly
h5
  | 902 Broadway, 4th Fl
  br
  | New York, NY, 10016
p Details soon.
