- title('Locations')

:markdown
  # Locations

  _Contestants may compete "virtually" from anywhere in the world_, but
  [Joyent] will be hosting Knockout HQ in San Francisco and several groups
  worldwide have graciously organized space for contestants to work from, meet
  up, and have an awesome time.

  ## San Francisco

  [Joyent] will be providing food, drinks, and camaraderie for participants.
  You’ll get to meet [Ryan "node.js" Dahl][1], [Isaac Z. "npm" Schlueter][2],
  and the rest of the Knockout organizers.

  Space is limited to __only 80 contestants__, so
  <a href="http://nkohq.eventbrite.com/" class="button">RSVP Now!</a>

  [Joyent]: http://www.joyent.com/
  [1]: https://github.com/ry
  [2]: https://github.com/isaacs

  <p id="map">
    <iframe width="576" height="356" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=345+California+St,+San+Francisco,+CA(Knockout+HQ+@+Joyent)&amp;output=embed"></iframe>
  </p>

  ## Other Locations

  Not in San Francisco? Find node.js-loving enthusiasts worldwide. Want to host
  a satellite location? [Send us a pull request] or [let us know].

  [Send us a pull request]: https://github.com/nko2/website/blob/master/views/index/locations.jade
  [let us know]: mailto:all@nodeknockout.com

ul.locations
  li
    h4#cape-town Cape Town, South Africa
    != address('71 Roeland St, Cape Town')
    :markdown
      ### [thisarmy](http://thisarmy.com/)
      ##### Tank, First Floor<br/> 71 Roeland St, Cape Town

      Contact [@__leroux](http://twitter.com/__leroux).

  li
    h4#chandler Chandler, Arizona
    != address('260 S Arizona Avenue, Chandler, AZ 85225')
    :markdown
      ### [Gangplank](http://gangplankhq.com/)
      ##### 260 S Arizona Avenue<br/> Chandler, AZ 85225

      Contact [@geetarista](http://twitter.com/geetarista).

  li
    h4#charlotte Charlotte, North Carolina
    != address('514 East 15th Street at North Davidson, Charlotte, NC 28206')
    :markdown
      ### [Area 15], sponsored by [TradeKing]
      ##### 514 East 15th St at North Davidson<br/> Charlotte, NC 28206

      Contact [@DanRajuTK](http://twitter.com/DanRajuTK).

      [Area 15]: http://areafifteen.com/
      [TradeKing]: http://www.tradeking.com/

  li
    h4#chicago Chicago, Illinois
    != address('661 W Lake St, Chicago, IL 60661')
    :markdown
      ### [Hashrocket](http://hashrocket.com/)
      ##### Hashrocket Chicago, 661 W Lake St 3NE, Chicago, IL 60661

      Contact [@calebcornman](http://twitter.com/calebcornman).
  li
    h4#cologne Cologne, Germany
    != address('Deutz-Mülheimerstraße 129, 51063 Köln, Germany')
    :markdown
      ### [Railslove](http://railslove.com/)<br/> [@ cowoco](http://www.coworkingcologne.de/)
      ##### Deutz-Mülheimerstraße 129<br/> 51063 Köln

      Contact [michael@railslove.com](mailto:michael@railslove.com).

  li
    h4#copenhagen Copenhagen, Denmark
    != address('Gothersgade 8B, 1123 Copenhagen')
    :markdown
      ### [Node Club Copenhagen](http://www.nodeclub.dk/)<br/> [@ Founders House](http://foundershouse.dk/)
      ##### Boltens Gaard<br/> Gothersgade 8B, 1123 Copenhagen

      Drinks are on the house and good pizza, bagels, and kebabs are 30-50
      meters away.

  li
    h4#dresden Dresden, Germany
    != address('Lingnerallee 3, 01069 Dresden')
    :markdown
      ### [C3D2 HQ](https://www.c3d2.de/)
      ##### Lingnerallee 3<br/> 01069 Dresden

      There'll be Club Mate!

  li
    h4#dublin Dublin, Ireland
    != address('9 Anglesea Row, Dublin 7, Ireland')
    :markdown
      ### [AMWorks coworking](http://www.amworks.ie/)
      ##### 9 Anglesea Row<br/> Dublin 7

      Contact [@amworks](http://twitter.com/amworks).

  li.yay
    h4#london London, UK
    != address('19 Mandela Street, London, NW1 0DU, United Kingdom')
    :markdown
      ### [Forward], [Pusher], & [GoSquared]
      ##### Floor 2, Centro 3<br/> 19 Mandela Street, London, NW1 0DU

      Free food, drinks, and t-shirt, [register for this location].

      [Forward]: http://www.forward.co.uk/
      [Pusher]: http://pusher.com/
      [GoSquared]: http://www.gosquared.com/
      [register for this location]: http://nko-london-2011.heroku.com

  li
    h4#munich Munich, Germany
    != address('Sonnenstraße 32, 80331 München')
    :markdown
      ### [coworkingmunich.de](http://coworkingmunich.de/)
      ##### Sonnenstraße 32<br/> 80331 München

      Coworking space for free to all attendees during the contest. Contact
      [counter@coworkingmunich.de](mailto:counter@coworkingmunich.de).

  li.yay
    h4#nyc New York
    != address('902 Broadway 4th Floor, New York, NY, 10016')
    :markdown
      ### [nodejitsu]<br/> [@ General Assembly]
      ##### 902 Broadway, 4th Floor<br/> New York, NY, 10016

      Beverages and snacks on hand as well as team Nodejitsu
      and a few other tech startups to help you out with their
      APIs and tools. [Check out all the details][1]. Contact [@saadiq].

      [nodejitsu]: http://www.nodejitsu.com/#/home
      [@ General Assembly]: http://www.generalassemb.ly/
      [1]: http://nko.nodejitsu.com/
      [@saadiq]: https://twitter.com/#!/saadiq

  li
    h4#paris Paris, France
    != address('16 rue Gaillon, 75002 Paris')
    :markdown
      ### [Joshfire](http://joshfire.com/contact/)
      ##### 16 rue Gaillon<br/> 75002 Paris

      We have space for at least 10 teams.

  li
    h4#poa Porto Alegre, Brazil
    != address('Rua Liberdade 553, Porto Alegre, Brazil')
    :markdown
      ### [Softa](http://www.softa.com.br/)
      ##### Rua Liberdade 553<br/> Porto Alegre

      Contact [@joaomilho](http://twitter.com/joaomilho).

  li
    h4#poznan Poznań, Poland
    != address('Woźna 9, 61-777 Poznań, Poland')
    :markdown
      ### [Netguru](http://www.netguru.pl/p/en)
      ##### Woźna 9C/2<br/> Poznań

      Contact [@iktorn](http://twitter.com/iktorn).
  
  li
    h4#santa-monica Santa Monica / Los Angeles
    != address('902 Colorado, Santa Monica, CA 90401')
    :markdown
      ### [Mahalo HQ](http://www.mahalo.com/)
      ##### 902 Colorado Ave<br/> Santa Monica, CA 90401

      Sodas plus pizza for lunch both days. Contact
      [@joshontheweb](http://twitter.com/joshontheweb) with questions.

  li
    h4#singapore Singapore
    != address('99B Tanjong Pagar Road, Singapore 088520')
    :markdown
      ### [2359 media](http://2359media.com/)
      ##### 99B Tanjong Pagar Road<br/> Singapore 088520

      A fridge, complimentary monitors, keyboards, and mice. Contact
      [Seivan Heidari](mailto:seivan.heidari@2359media.com).

  li
    h4#stockholm Stockholm, Sweden
    != address('Birger Jarlsgatan 18, 114 34, Stockholm, Sweden')
    :markdown
      ### [Hansson & Larsson Internet AB](http://hanssonlarsson.se/)
      ##### Birger Jarlsgatan 18A, 5 tr<br/> 114 34 Stockholm

      Everybody welcome during the knockout. We will provide coffee and beer.
      Contact [@yesbabyyes](http://twitter.com/yesbabyyes) with any questions.

  li
    h4#tokyo Tokyo, Japan
    != address('東京都港区芝浦１丁目１４−６', 'maps.google.co.jp')
    :markdown
      ### [Node.js日本ユーザグループ](https://groups.google.com/forum/#!forum/nodejs_jp)
      ##### 東京都港区芝浦1-14-6 BSビル3F

      Everybody welcome during whole knockout with free drinks. Contact
      [@meso](http://twitter.com/meso).

  li
    h4#treviso Treviso, Italy
    != address('Via Sile, 41, 31056 Roncade Treviso')
    :markdown
      ### [H-farm](http://www.h-farmventures.com/)
      ##### Via Sile, 41<br/> Roncade Treviso

      Contact [@johnnyaboh](http://twitter.com/johnnyaboh).

  li
    h4#warsaw Warsaw, Poland
    != address('ul. Kamionkowska 45, 03-812 Warszawa, Poland')
    :markdown
      ### [GG Network](http://www.gadu-gadu.pl/)
      ##### ul. Kamionkowska 45<br/>Warsaw

      We provide free food, drinks, place to sleep and online live video streaming. We have space for up to 16 people.
      Contact [Gadu-Gadu](mailto:nodeknockout@gadu-gadu.pl) or [@michalbe](http://twitter.com/michalbe).
  
