- title('Locations')

:markdown
  # Locations

  Contestants may compete "virtually" from anywhere in the world, but [Joyent]
  will be hosting Knockout HQ in San Francisco and several groups worldwide
  have graciously organized space for contestants to work from, meet up, and
  have an awesome time.

  ## San Francisco

  [Joyent] will be providing food and drinks for participants. You’ll get to
  meet [Ryan "node.js" Dahl][1], [Isaac Z. "npm" Schlueter][2], and the rest of
  the Knockout organizers.

  Space is limited, so [stay tuned] for details.

  [Joyent]:http://www.joyent.com/
  [1]:https://github.com/ry
  [2]:https://github.com/isaacs
  [stay tuned]:http://twitter.com/node_knockout

p#map
  iframe( width: 576, height: 356, frameborder: 0, scrolling: "no", marginheight: 0, marginwidth: 0, src: "http://maps.google.com/maps?q=345+California+St,+San+Francisco,+CA(Knockout+HQ+@+Joyent)&output=embed" )

:markdown
  ## Other Locations

  Not in San Francisco? Find node.js-loving enthusiasts worldwide. Want to host
  a satellite location? [Let us know].

  [Let us know]:mailto:all@nodeknockout.com

ul.locations
  li
    h4#cologne Cologne, Germany
    - address = escape('Deutz-Mülheimerstraße 129, 51063 Köln, Germany')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://www.railslove.com/' ) Railslove
      br
      a( href: 'http://www.coworkingcologne.de/' ) @ cowoco
    h5
      | Deutz-Mülheimerstraße 129
      br
      | 51063 Köln
      br
      | Germany
    p Contact 
      a( href: 'mailto:michael@railslove.com' ) michael@railslove.com
      .

  li
    h4#copenhagen Copenhagen, Denmark
    - address = escape('Gothersgade 8B, 1123 Copenhagen')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://www.nodeclub.dk/' ) Node Club Copenhagen
      br
      a( href: 'http://foundershouse.dk/' ) @ Founders House
    h5
      | Gothersgade 8B
      br
      | Boltens Gaard
      br
      | 1123 Copenhagen
    p
      | Drinks are on the house and good pizza, bagels, and kebabs are 30-50
      | meters away.

  li
    h4#munich Munich, Germany
    - address = escape('Sonnenstraße 32, 80331 München')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3: a( href: 'http://coworkingmunich.de/' ) coworkingmunich.de
    h5 Sonnenstraße 32, 80331 München
    p
      | Coworking space for free to all attendees during the contest.
      | Contact
      a( href: 'mailto:counter@coworkingmunich.de' ) counter@coworkingmunich.de
      .

  li
    h4#nyc New York
    - address = escape('902 Broadway 4th Floor, New York, NY, 10016')
    a( href='http://maps.google.com/maps?q=' + address )
      img.map( src='http://maps.googleapis.com/maps/api/staticmap?center=' + address + '&zoom=15&size=226x140&sensor=false&markers=size:small|' + address )
    h3
      a( href: 'http://www.nodejitsu.com/#/home' ) nodejitsu
      br
      a( href: 'http://www.generalassemb.ly/' ) @ General Assembly
    h5
      | 902 Broadway, 4th Floor
      br
      | New York, NY, 10016
    p Details soon.
