:markdown
  # Locations

  Contestants may compete "virtually" from anywhere in the world, but [Joyent]
  will be hosting Knockout HQ in San Francisco.

  ## San Francisco

  Further details coming.

  ## Other Locations

  Not in San Francisco? Find node.js loving enthusiasts worldwide. Want to host
  a satellite location? [Let us know].

  ### Munich, Germany
  <a href="http://maps.google.com/maps?q=Sonnenstr+32,+80331+München">
    <img class="map" src="http://maps.googleapis.com/maps/api/staticmap?center=Sonnenstr+32,+80331+München&zoom=15&size=226x140&sensor=false&markers=size:small|Sonnenstr+32,+80331+München" />
  </a>
  #### [coworkingmunich.de](http://coworkingmunich.de/)
  ##### Sonnenstraße 32, 80331 München<br/>
  Coworking space for free to all attendees during the contest.
  Contact [counter@coworkingmunich.de](mailto:counter@coworkingmunich.de).

  [Joyent]:http://www.joyent.com/
  [Let us know]:mailto:all@nodeknockout.com
