:markdown
  # Locations

  Contestants may compete "virtually" from anywhere in the world, but [Joyent]
  will be hosting Knockout HQ in San Francisco.

  ## San Francisco

  Further details coming.

  ## Other Locations

  Not in San Francisco? Want to host a satellite location? [Let us know].

  [Joyent]:http://www.joyent.com/
  [Let us know]:mailto:all@nodeknockout.com
