- title('Media')
:markdown
  # Media

  ## about the competition

  Node.js Knockout is a 48-hour hackathon featuring [node.js]. It's an online,
  virtual competition with [contestants worldwide].

  Coding takes place from August 27, 2011 0:00 GMT to August 29, 2011 0:00 GMT.
  Judging and public voting will take place for the week after.

  ## node.js

  node.js enables developers to write server-side JavaScript.

  ## logos

  - [PNG 3700x1000 px](/designs/nko-logo-3700x1000.png)
  - [Adobe Illustrator](/designs/nko-logo.ai)

  ## key stats

  <table>
    <tr><th>Teams</th>       <td>#{teams}</td></tr>
    <tr><th>Contestants</th> <td>#{people}</td></tr>
  </table>
