- title('Prizes')
:markdown
  # Prizes

  ## Overall Winner
  - Plans [Joyent]
  - Silver Plan [GitHub]
  - Plans [Linode]
  - coderwall achievement badge

  ## Solo Winner
  - Plans [Joyent]
  - Plan [GitHub]
  - Plans [Linode]
  - coderwall achievement badge

  ## Utility / Fun
  - Plans [Joyent]
  - Plans [Linode]
  - coderwall achievement badge

  ## Design
  - Plans [Joyent]
  - Plans [Linode]
  - coderwall achievement badge

  ## Innovation
  - Plans [Joyent]
  - Plans [Linode]
  - coderwall achievement badge

  ## Completeness
  - Plans [Joyent]
  - Plans [Linode]
  - coderwall achievement badge

  ## Popularity
  - Plans [Joyent]
  - Plans [Linode]
  - coderwall achievement badge

  [Joyent]: http://www.joyent.com/
  [GitHub]: https://github.com/
  [Linode]: http://www.linode.com/index.cfm
