- title('Prizes')
:markdown
  # Prizes

  More prizes are coming. Stay tuned.

  ## Overall Winner
  _Team with the best overall score_

  - Node.js Knockout Boxing Gloves -- [meebo]
  - [MacBook Air] (11" 64GB) (one per team member) -- [Bislr], [nodejitsu], [ngmoco], [TradeKing]
  - [GitHub Silver plan][GitHub-plan] (1 year) (one per team member) -- [GitHub]
  - [Bislr] (6 months) -- [Bislr]
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) (one per team member) -- [Cloud9]
  - Overall achievement badges -- [coderwall]

  ## Solo Winner

  _One-person team with the best overall score_

  - [MacBook Air] (11" 128GB) -- [Twilio]
  - [GitHub Small plan][GitHub-plan] (1 year) -- [GitHub]
  - $250 [Twilio credit] -- [Twilio]
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) (one per team member) -- [Cloud9]
  - Solo achievement badges -- [coderwall]

  ## Popularity

  _Team with the most votes_

  - [iPad2] (one per team member) -- [PubNub], [Tropo]
  - [PostageApp Eagle plan] (6 months) (one per team member) -- [PostageApp]
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Popularity achievement badge -- [coderwall]

  ## Utility / Fun

  _Team with the highest utility / fun score_

  - Choice of [Samsung Galaxy Tab] or [DeLonghi Espresso Maker] (one per team member) -- [Tapjoy], [Scopely], [Sleepless]
  - [Goopymart Mugs] -- [Couchbase]
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Utility / Fun achievement badge -- [coderwall]

  ## Design

  _Team with the highest design score_

  - [Creative Suite® 5.5 Design Premium] (one per team member) -- [Adobe]
  - [GitHub Small plan][GitHub-plan] (1 year) (one per team member) -- [Couchbase]
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Design achievement badge -- [coderwall]

  ## Innovation

  _Team with the highest innovation score_

  - [MetaWatch] (one per team member) -- [SunGard]
  - CouchConf tickets (one per team member) -- [Couchbase]
  - Shirts & hoodies -- [Geekli.st]
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Innovation achievement badge -- [coderwall]

  ## Completeness

  _Team with the highest completeness score_

  - [Tumi laptop bag] -- [NodeSocket]
  - [10TB of MaxCDN bandwidth] -- [MaxCDN]
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Completeness achievement badge -- [coderwall]

  [Adobe]: http://www.adobe.com/
  [Bislr]: http://www.bislr.com/ 
  [Cloud9]: http://cloud9ide.com/
  [coderwall]: http://coderwall.com/
  [Couchbase]: http://www.couchbase.com/
  [Dropbox]: http://www.dropbox.com/
  [GitHub]: https://github.com/
  [Geekli.st]: http://geekli.st/
  [iPad2]: http://www.apple.com/ipad/
  [Joyent]: http://www.joyent.com/
  [Linode]: http://www.linode.com/index.cfm
  [MaxCDN]: http://maxcdn.com/
  [meebo]: http://www.meebo.com/
  [ngmoco]: http://blog.ngmoco.com/
  [nodejitsu]: http://www.nodejitsu.com/
  [NodeSocket]: http://www.nodesocket.com/
  [PostageApp]: http://postageapp.com/
  [PubNub]: http://www.pubnub.com/
  [Pusher]: http://pusher.com/
  [Scopely]: http://jobs.scopely.com/
  [Sleepless]: http://sleepless.com/
  [SunGard]: http://sungard.com/
  [Tapjoy]: https://www.tapjoy.com/
  [TradeKing]: http://www.tradeking.com/
  [Tropo]: https://www.tropo.com/home.jsp
  [Twilio]: http://www.twilio.com/

  [10TB of MaxCDN bandwidth]: http://www.maxcdn.com/pricing
  [50GB Dropbox storage]: https://www.dropbox.com/pricing
  [Cloud9 IDE Premium]: http://cloud9ide.com/pricing.html
  [Creative Suite® 5.5 Design Premium]: http://www.adobe.com/products/creativesuite/design.html
  [DeLonghi Espresso Maker]: http://www.amazon.com/DeLonghi-EC702-15-Bar-Pump-Espresso-Stainless/dp/B001CNG7RY/ref=sr_1_2?s=home-garden&ie=UTF8&qid=1313800569&sr=1-2
  [GitHub-plan]: https://github.com/plans
  [Goopymart Mugs]: http://www.cafepress.com/+goopymart+mugs
  [MacBook Air]: http://www.apple.com/macbookair/
  [MetaWatch]: http://www.metawatch.org/
  [Node.js Knockout Boxing Gloves]: #
  [PostageApp Eagle plan]: https://secure.postageapp.com/register
  [Pusher Startup plan]: http://pusher.com/pricing
  [Samsung Galaxy Tab]: http://www.samsung.com/us/mobile/galaxy-tab/GT-P1010CWAXAR
  [Tumi laptop bag]: http://www.tumi.com/product/index.jsp?productId=4209925&prodFindSrc=paramNav
  [Twilio credit]: http://www.twilio.com/pricing/
