- title('Rules')

:markdown
  # Rules

  Rules are forthcoming. Until then, refer to [last year's rules][1]. They're
  going to be very similar, with only a few tweaks to voting and judging.

  [1]:http://2010.nodeknockout.com/rules
