h1= title('Scoring')

:markdown
  We spent a lot of time thinking about how to keep Node.js Knockout scoring
  fun, fair, and exciting.  Here's how it’s going to work:

  Entries will be judged on a 1-5 scale across 4 dimensions:

  - **Utility / Fun** - Is the site offering a service I'd use again and again?
  - **Design** - How good does it look and feel to use?
  - **Innovation** - How original is the idea and execution?
  - **Completeness** - How "fully baked" is the site? Are there bugs or dead ends? Does it work in my browser?

  Additionally, a **Popularity** score will be calculated based on the number
  of votes a entry gets from the general public.

  In order to ensure all reviews are [anchored] similarly, we ask that people
  try to [grade along a curve] with a mean of 3.5.

  [anchored]: http://en.wikipedia.org/wiki/Anchoring
  [grade along a curve]: http://en.wikipedia.org/wiki/Grading_on_a_curve

  ## Voting

  All voting will take place between 03:00 GMT on Monday, August 29 and 0:00
  GMT on Tuesday, September 6.

  There will be three groups of voters:

  1. **expert judges**
  2. **contestants**
  3. **general public**

  ## Expert Judges

  We have an [amazing and diverse panel of expert judges](/judges) who are
  volunteering their time to provide thoughtful feedback on your weekend's
  work.

  Each expert judge will be asked to review an initial batch of 5-10 entries.
  After they do their initial batch, judges will be encouraged to review
  a handful more of the top entries that pique their interest.  Experts will
  not be allowed to vote for people who they know.

  The hope is that this will allow every entry to get at least 2-3 thoughtful
  expert reviews and that the best entries will get enough reviews that the
  [law of large numbers] ensures fairness.

  [law of large numbers]: http://en.wikipedia.org/wiki/Law_of_large_numbers

  ## Contestants

  Contestants are going to have a much bigger role in the judging than last
  year. Contestants will be responsible for determining 40% of a teams overall
  score.

  In order for contestant scoring to be succesful, we need lots of contestants
  to vote.  If somebody on another team votes on your entry, we encourage you
  to vote on their entry as well.

  To ensure fairness and civility, please remember that votes are attached to
  your public GitHub profile, and that other contestants will be reviewing your
  entry. Try to be as fair and balanced to others as you expect them to be to
  you.  Additionally, we reserve the right to disqualify teams from the contest
  for inappropriate or unfair judging behavior (as determined by the
  organizers).

  Contestants will not be allowed to vote on their own entries (because it
  would give teams with more members an unfair advantage).

  ## General Public

  General public voters will not score on 4 dimensions, but will instead simply
  vote up the entry.  These votes will contribute exclusively to the entry's
  popularity score.

  Any member of the general public will be allowed to vote, but Facebook login
  will be required.  You are encouraged to get as many people as possible to
  vote for your work, as these votes form the entrity of the popularity
  component of your team's score.

  ## Calculation

  A team's score will be determined by combining the expert judge score and the
  contestant scores for each dimension along with the popularity component
  derived from each entry's public vote count.

  The overall score will be the average of all 5 components (utility / fun,
  design, innovation, completeness and popularity).

  ## Prizes

  There will be the following 7 prize categories:

  - **Overall** - the best overall score
  - **Solo** - the best overall score for a one-person team
  - **Popularity** - the entry with the most public votes
  - **Utility / Fun** - the highest utility / fun score
  - **Design** - the highest design score
  - **Innovation** - the highest innovation score
  - **Completeness** - the highest completeness score

  A team may only win one prize and will earn the highest prize (in the above
  rank order) for which it qualifies, opening its spot in the running for lower
  prizes to the next most qualified team.

  See the [prizes page](/prizes) for a list of prizes.

  ## Cheating

  This is a competition for fun. The honor code applies: we're trusting you
  to do the honorable thing.

  We have implemented a number of mechanisms to detect and to eliminate ballot
  stuffing, and we will be have a zero tolerance policy towards cheating.  If
  you are provably caught cheating, you will be disqualified immediately, be
  banned from all future events, and generally be thought of as a bad person by
  all of the organizers and potentially many, many, more people.  Trust us,
  it's not worth the risk.

  ## Closing Thoughts

  There's no system of voting that will make everybody happy.  Our decisions
  are based on lessons from dozens of other competitions and we believe that
  they're going to make for a great Node.js Knockout.

  But it’s important to remember at the end of the day, even if you don’t win,
  you’ll still have had a great time, have built something awesome, and have
  gotten a ton of exposure for your idea.
