- title('services')

:markdown
  # Services
  
  The following sponsors have been generous enough to provide their services free of charge to knockout contestants.
  **Please do not share the coupon codes below with non contestants.**

- each service in services
  h2= service.name
  != markdown(service.description)
