h1= title('Judges') + ' (' + judges.length + ')'

.nominate
  h2 We Need Judges! 
    a.button.scary( href: '/judges/new') Nominate a Judge

ul.judges
  - each judge in judges
    li
      img.avatar( src: avatar_url(judge, 80) )
      h3: a( href: '/people/' + judge.id )= judge.name
      != partial('people/details', { person: judge })
      .bio!= markdown(judge.bio)
