:markdown
  ## Nominating a Judge

  Judges are expected to be high-tech insiders including: founders, CEOs,
  CTOs, VCs, journalists, open source developers, and others.

  Judges will be asked to write 2-3 sentence reviews of 5-10 entries, judging
  just functionality (not code) along 4 dimensions: utility/fun, innovation,
  completeness and design. This will take approximately 2-3 hours between
  August 29 and September 5.

  Judges will not be allowed to cast votes on teams they know.

h1 Nomination

form.person( method: 'POST', action: '/judges' )
  != partial('people/form')
  p
    input( type: 'submit', value: 'Nominate' )
    | 
    a( href: '/judges' ) Cancel
