- if (!user)
  p.sign-in: a.scary.button( href: '/login' ) Sign in to vote
- else
  form.vote(
    action: vote ? '/votes/' + vote.id : '/teams/' + team.id + '/votes',
    method: 'POST'
  )
    - if (vote && !req.user.voter)
      input( type: 'hidden', name: '_method', value: 'PUT' )
    input( type: 'hidden', name: 'audit[remoteAddress]', value: req.socket.remoteAddress )
    input( type: 'hidden', name: 'audit[remotePort]', value: req.socket.remotePort )
    input( type: 'hidden', name: 'audit[userAgent]', value: req.header('user-agent') )
    input( type: 'hidden', name: 'audit[referrer]', value: req.header('referrer') )
    input( type: 'hidden', name: 'audit[accept]', value: req.header('accept') )
    - each f in [ 'requestAt', 'renderAt', 'hoverAt', 'responseAt' ]
      input( type: 'hidden', name: f )
    .person
      img.avatar( src: avatar_url(user, 40) )
      = user.login
      .role= user.role
      - if (vote && !user.voter)
        .edit: a.disabled.edit( href: '#' ) Edit your vote
    - if (user.voter)
      .voter
        - if (vote)
          | You ♥ this entry
          .disabled
            a.edit( href: '#' ) Change your mind
          .enabled
            input( type: 'hidden', name: '_method', value: 'DELETE' )
            input.scary( type: 'submit', value: 'Delete your vote' )
            | 
            a.cancel( href: '#' ) Cancel
        - else
          input.scary( type: 'submit', value: '♥ this entry' )
    - else if (user.contestant || user.judge)
      table
        tr
          - each d in Vote.dimensions
            th: label( for: d )= Vote.label(d)
        tr
          - each d in Vote.dimensions
            td: input( name: d, id: d, type: 'range', min: 0, max: 5,
                       value: vote ? vote[d] : 0 )
        tr: td( colspan: 4 )
          textarea.enabled( name: 'comment',
                    placeholder: 'Be awesome. Give some feedback.'
                  )= vote && vote.comment
          - if (vote)
            .comment.disabled!= markdown(vote.comment)
            input.enabled( type: 'submit', value: 'Save' )
            | 
            a.enabled.cancel( href: '#' ) Cancel
          - else
            input.scary( type: 'submit', value: 'Vote' )
