li.vote
  .person
    a( href: '/people/' + vote.personId )
      img.avatar( src: avatar_url(vote.person, 40) )
      = vote.person.login
    .role= vote.person.role
    .ip= req.socket.remoteAddress
    time.created-at( datetime: vote.createdAt.toJSON(), title: vote.createdAt )
      = relativeDate(vote.createdAt)
  table
    tr
      - each d in Vote.dimensions
        th: label( for: d )= d
    tr
      - each d in Vote.dimensions
        td: input( name: d, id: d, type: 'range', min: 0, max: 5, value: vote[d] )
    tr: td( colspan: 4 )
      .comment!= markdown(vote.comment)
