li.vote
  - if (vote.person)
    .person
      a( href: '/people/' + vote.personId )
        img.avatar( src: avatar_url(vote.person, 40) )
        = vote.person.login
      .role= vote.person.role
      time.created-at( datetime: vote.createdAt.toJSON(), title: vote.createdAt )
        = relativeDate(vote.createdAt)
  - else if (vote.team)
    .team
      a( href: '/teams/' + vote.teamId )= vote.team.name
      time.created-at( datetime: vote.createdAt.toJSON(), title: vote.createdAt )
        = relativeDate(vote.createdAt)
  - if (vote.type === 'voter')
    | ♥
  - else
    table
      tr
        - each d in Vote.dimensions
          th: label( for: d )= Vote.label(d)
      tr
        - each d in Vote.dimensions
          td: input( name: d, id: d, type: 'range', min: 0, max: 5, value: vote[d], disabled: true )
      tr: td( colspan: 4 )
        .comment!= markdown(vote.comment)
