border-image()
  -webkit-border-image arguments
  -moz-border-image arguments
  border-image arguments

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  transition arguments

inverted()
  padding 9px 13px 5px 23px
  color white
  background-color hsla(0, 0%, 0%, 0.8)
  border solid 1px hsla(0, 0%, 0%, 0.2)
  text-shadow 0px -1px 0px hsla(0, 0%, 0%, 0.5)
  box-shadow 0 1px 3px hsla(0, 0%, 0%, 0.5)

small = 14px
medium = 18px
large = 24px
x-large = 32px
xx-large = 64px
xxx-large = 92px

red = hsl(0, 60%, 60%)

@font-face
  font-family "04b_03"
  src url('/fonts/04b_03__-webfont.eot')
  src url('/fonts/04b_03__-webfont.eot?iefix') format('eot'), url('/fonts/04b_03__-webfont.woff') format('woff'), url('/fonts/04b_03__-webfont.ttf') format('truetype'), url('/fonts/04b_03__-webfont.svg#webfontiFL0wwqh') format('svg')
  font-weight normal
  font-style normal
  font-size medium

header, footer, nav
  display block
time
  display inline

body, input, textarea, code, pre
  font-family 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size medium

h1, h2, h3, h4, h5, h6
  font-family '04b_03', monospace
  margin-bottom 0

body
  text-align center
  background hsl(200, 10%, 80%) url('/images/noise.png') repeat
  text-shadow 0px 1px 0px hsla(0, 100%, 100%, 0.6)
  overflow scroll
  min-width 1024px

a:link, a:visited
  color hsl(200, 30%, 50%)
  text-decoration none
  transition color 100ms linear
  &:hover
    text-decoration underline
    color hsl(200, 30%, 60%)
  &.scary
    color red
    &:hover
      hsl(0, 60%, 50%)

.scary
  color red

a img
  border 0

button, input[type=submit], a.button
  font-family 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size large
  font-weight normal
  border solid 2px hsla(0, 0%, 0%, 0.1)
  background-color hsl(200, 30%, 60%)
  background hsl(200, 30%, 50%) -webkit-linear-gradient(-90deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.1) 50%)
  background hsl(200, 30%, 50%) -moz-linear-gradient(-90deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.1) 50%)
  color white !important
  text-shadow 0 -1px 0 hsla(0, 0%, 0%, 0.5)
  padding 5px 1ex
  border-radius 3px
  box-shadow inset 0 0 3px hsla(0, 0%, 0%, 0.2), 0 1px 1px hsla(0, 0%, 1000%, 0.7)
  transition background-color 200ms linear
  pointer none
  white-space nowrap
  &:hover
    text-decoration none
    background-color hsl(200, 35%, 60%)
  &:active
    box-shadow inset 0 0 10px hsla(0, 0%, 0%, 0.5)
    background-color hsl(200, 30%, 35%)
    transition none
  &.scary
    background-color red
    &:hover
      text-decoration none
      background-color hsl(0, 80%, 60%)
  &.heart
    font-size 18px
  &.loved
    background-color red

input[type=text], input[type=email], input[type=password], textarea
  outline none
  font-size large
  padding 2px 3px
  border-radius 2px
  border 2px solid #ddd
  margin 3px 0
  box-shadow inset 0 0 3px hsla(0, 0%, 0%, 0.1)
  &:focus
    border-color #bbb

textarea
  font-size medium
  max-width 100%

p, ul
  margin 1em 0

p, li, textarea
  line-height 150%

ul
  list-style-type none
  padding-left 0

img.spinner
  display none
  width 16px
  height 16px
  margin 0px 2px

img.avatar
  vertical-align middle
  margin 2px 5px 2px 0
  border-radius 3px
  width 30px
  height 30px
.via img
  margin-bottom -3px
  width 16px
  height 16px

ul.errors
  color hsl(0, 60%, 60%)

aside
  display block
  float right
  width 260px
  margin-top 20px
  text-align center
  .login
    position relative
    z-index 1000
    text-align center
    a.button
      font-size medium
  table.important-dates
    width 100%
    border-collapse collapse
    td
      text-align center
      text-align '-'
    th.asterisk
      font-weight normal
      font-size small
  ul.sponsors
    list-style-type none
    margin 2em 0 0
    padding 0
    text-align center
    li
      margin-top -10px
    // sponsor logo list: x-height = 20px; descender = 23px; ascender = 26px
    for sponsor in adobe bislr blitz cloud9 couchbase dropbox geeklist github heroku joyent linode maxcdn meebo mongohq ngmoco nodejitsu nodesocket postageapp pubnub pusher scopely spreecast sungard tapjoy tradeking tropo twilio
      img.{sponsor}
        width image-size('/images/sponsors/' + sponsor + '.png')[0]
        height image-size('/images/sponsors/' + sponsor + '.png')[1]
    for sponsor in sleepless summercamp
      img.{sponsor}
        width image-size('/images/sponsors/' + sponsor + '.gif')[0]
        height image-size('/images/sponsors/' + sponsor + '.gif')[1]
    img.sleepless
      margin 2px 0 5px
    img.summercamp
      margin 3px 0 10px
    li.interested
      margin 15px 0

.vote
  margin 1em 0
  border solid 1px hsla(0, 0%, 0%, 0.1)
  border-radius 2px
  padding 10px
  box-shadow inset 0 0 5px hsla(0, 0%, 0%, 0.1)
  background-color hsla(0, 0%, 95%, 0.5)
  clear left
  overflow hidden
  .person, .team
    float left
    width 120px
    img.avatar
      width 40px
      height auto
      vertical-align top
      float left
    .created-at
      font-size x-small
      display block
      line-height 150%
  .person
    line-height 125%
    .role, .created-at
      margin-left 45px
    .role
      font-size small
  .edit
    clear left
    font-size small
    margin-top 1em
    text-align center
  .voter
    text-align center
  th
    font-size small
    text-align center
  input[type=range]
    width 100px
  textarea
    width 98%
    height 9em
  .comment p
    margin 0.5em 0
  .heart
    font-size large
    color red
  .stars img
    width: 13px
    height: 14px
form.vote
  box-shadow inset 0 0 5px hsla(200, 30%, 50%, 0.2)
  background-color hsla(200, 30%, 80%, 0.2)
form.vote[action^="/votes"] .enabled /* TODO fix for IE */
  display none

#page
  position relative
  width 900px
  margin 30px auto 0
  text-align left
  #inner
    background-color hsla(0, 0%, 100%, 0.9)
    border solid 1px hsla(0, 0%, 0%, 0.1)
    border-radius 2px
    box-shadow 0 0 5px hsla(0, 0%, 0%, 0.1)
    z-index 10000
    position relative
    padding 10px 20px
    width 580px
    transition color 100ms linear
    &.pjax
      color: hsla(0, 0%, 0%, 0.5)
      a:link, a:visited
        color hsla(200, 30%, 50%, 0.5)
    header
      text-align center
      h1
        font-size xx-large
        word-spacing -0.5ex
        a
          color black !important
          &:hover
            text-decoration none
        .ko
          inverted()
          border-radius 2px
      nav
        margin 1em 0
        border-bottom dotted 2px hsla(0, 0%, 0%, 0.2)
        width 600px
        margin-left -10px
        ul
          margin 5px 0
        li
          display inline
          margin 0 1.5ex
    > h1
      inverted()
      margin 0 0 0 -23px
      padding-left 23px
      display inline-block
    footer
      clear left
      border-top dotted 2px hsla(0, 0%, 0%, 0.2)
      font-size small
      width 600px
      margin-left -10px
      margin-top 2em
      color hsla(0, 0%, 0%, 0.3)
      text-align center
      ul
        margin 5px 0
      li
        display inline
        margin 0 1ex

.thing
  position absolute
  font-family '04b_03'
  .bubble
    position absolute
    left -15px
    width 294px - 20px - 21px
    max-height 133px - 21px - 42px
    border-image url('/images/734m/talkbubble1.png') 21 20 42 21
    border-width 21px 20px 42px 21px
    padding 5px
    display none
    text-align center
    overflow-y auto
    white-space pre-wrap
    line-height 125%
  ::-webkit-scrollbar
    width 1ex
  ::-webkit-scrollbar-thumb:vertical
    background-color hsla(0, 0%, 0%, 0.2)
  .textarea-container
    overflow hidden
    position relative
    textarea
      position absolute
      left -100px
      width 80px

#page.index-index #inner
  text-align center
  header h1
    font-size xxx-large !important
    .ko
      padding 10px 10px 0 25px !important
  nav
    font-size large - 4px
  section
    margin 2em 0px
    p, ul
      margin 0.5em 0
    li
      display inline-block
      margin 0 1ex
  .dates
    font-size x-large
    margin 0.25em 0px
  a.register.button
    font-size x-large

#page.index-locations #inner
  p#map iframe, img.map
    border dotted 2px hsla(0, 0%, 0%, 0.2)
  ul.locations
    li
      clear left
      margin-bottom 1em
      &.yay
        box-shadow inset 0 0 5px hsla(200, 30%, 50%, 0.2)
        background-color hsla(200, 30%, 80%, 0.2)
        border-radius 2px
        padding 2px 10px
        margin 0 -10px
    img.map
      float left
      margin 0 10px 1em 0
    h3, h4, h5, p
      margin 0.5em 0
    h3, h5, p
      margin-left 240px
    h5
      line-height 150%

#page.index-how-to-win
  .slide
    position absolute
    width 800px
    overflow hidden
    text-align left
    font-size 200%
    li
      line-height 150%

  // slide topology
  //   0 1
  // 4 3 2
  // 5 8 9
  // 6 7
  .slide#slide-0
    left 2000px
    top 0px
  .slide#slide-1
    left 3000px
    top 0px
  .slide#slide-2
    left 3000px
    top 1000px
  .slide#slide-3
    left 2000px
    top 1000px
  .slide#slide-4
    left 1000px
    top 1000px
  .slide#slide-5
    left 1000px
    top 2000px
  .slide#slide-6
    left 1000px
    top 3000px
  .slide#slide-7
    left 2000px
    top 3000px
  .slide#slide-8
    left 2000px
    top 2000px
  .slide#slide-9
    left 3000px
    top 2000px

#page.index-about #inner
  h3
    margin 2em 0 0
  table
    border-collapse collapse
    margin-top 1em
    th, td
      padding 0
      line-height 150%
    th
      padding-right 2em

#page.index-rules #inner
  h3
    margin 2em 0 0
  > ul
    list-style-type disc
    padding-left 20px
    li
      margin 0.5em 0

#page.teams-show, #page.people-show
  #inner > .edit
    float right
    margin-top 15px

#page.teams-edit #inner, #page.people-edit #inner
  form.delete
    position absolute
    display none
    border solid 1px hsla(0, 0%, 0%, 0.1)
    padding 10px 20px
    border-radius 3px
    box-shadow 0px 0px 5px hsla(0, 0%, 0%, 0.2)
    background-color hsla(0, 0%, 100%, 0.9)
    p
      margin 0 0 0.5em
    text-align center

#page.teams-new #inner, #page.teams-edit #inner
  textarea#description
    width 90%
    height 8em
  ol
    font-size large
    margin 0.5em 0
    input.email
      width 16em
    img
      margin 4px 5px 4px 0
#page.teams-max #inner
  > ul
    list-style-type disc
    padding-left 20px
    ul
      margin 0.5em 0

#page.teams-show #inner
  ul.people
    line-height 200%
  p.accept
    text-align center
    line-height 150%
  p.sign-in
    text-align center
  h2.deploy-status
    text-align center
    font-size x-large
    inverted()
    box-shadow none
    border-radius 2px
    &.pending
      background red url('/images/noise.png')
    &.done
      background green url('/images/noise.png')
    .details
      font-size small
      font-family 'Droid Sans'
      font-weight normal
    a
      color white
      font-style italic
  h2.deploy-status.done + .instructions
    display none
  ul.platforms
    text-align center
    margin 0.5em 0
    li
      display inline-block
      margin 0 1ex
      label
        font-size small
        font-style italic
      a.selected
        color black
  .platform
    display none
    box-shadow inset 0 0 5px hsla(0, 0%, 0%, 0.1)
    background-color hsla(0, 0%, 95%, 0.5)
    padding 5px
    border-radius 2px
  .entry
    margin-top 1em
    overflow hidden
    img#screenshot
      width 240px
      height 148px
      float left
      margin-right 10px
      border solid 1px hsla(0, 0%, 0%, 0.2)
      border-radius 2px

#page.teams #inner
  form.search
    display inline-block
    margin-left 1em
  ul.teams
    overflow hidden
    > li
      clear both
      border-top solid 1px hsla(0, 0%, 100%, 0.9)
      border-bottom solid 1px hsla(0, 0%, 50%, 0.1)
      overflow hidden
      padding 20px 0 10px
      &:first-child
        border-top-color transparent
      h3
        float left
        margin 0
      div.members, .location, .description
        font-size small
      div.members
        float right
        text-align right
        margin -3px 0 0
      ul.members
        margin 0
        li
          display inline-block
          margin-left 5px
        li.invites
          color hsla(0, 0%, 0%, 0.6)
          font-size x-small
          font-style italic
          margin-right 10px
        img.avatar
          margin 0
      .location
        clear left
        font-style italic
      .description
        p, ul
          margin 0.5em 0
        img
          display none
  .more, #infscr-loading
    text-align center
    padding-top 1em

#page.people-show #inner
  .avatar-and-role
    float left
    margin-right 10px
    margin-bottom 20px
    img.avatar
      width 80px
      height inherit
    .role
      text-align center
      text-transform uppercase
      font-size small
  > h1
    margin-left 0
    padding-left 19px
  .details
    margin-top 0.5em
    .company, .company p, .icons
      display inline
    .icons a img
      padding 0 2px
      margin-bottom -2px
  .team, .bio
    clear left

#page.errors-500 #inner
  code
    display block
    overflow scroll
    white-space pre
    border-radius 2px
    border solid 1px hsla(0, 0%, 0%, 0.1)
    background-color hsla(0, 0%, 0%, 0.1)
    padding 2px
    margin-left -3px
    line-height 150%

form.person
  input[type=text], textarea
    width 400px
  .tabular
    margin 10px 0
    > label
      display inline-block
      margin-left 0
      width 100px
    > div
      margin-left 100px
  .note
    font-size small
  .role .technical
    display none
  .twitter
    input[type=text]
      width 200px
      margin-left 0px
    button, .running
      display none
      margin-left 1em
      font-size x-small
  .bio
    label
      vertical-align top
      margin-top 7px
    textarea
      height 12em
  .image_url
    button
      display none
      font-size small
    img.avatar
      width 80px
      height inherit
    .transloadit
      height 1px
      width 1px
      overflow hidden

#page.judges-new form.person
  .optional, .role
    display none

#page.judges-nominations li.judge span
  font-size x-small

#page.judges #inner
  .nominate
    margin-top 2em
  ul.judges > li
    margin-bottom 2em
    > h3
      padding-top 5px
    > h3, > .details, > .bio
      margin-left 90px
    img.avatar
      width 80px
      margin-right 10px
      height auto
      float left
    .details
      .company, .company p, .icons
        display inline
      .icons a img
        padding 0 2px
        margin-bottom -2px

#page.index-sponsors #inner
  ul.sponsors li
    clear left
    margin 2em 0
    img
      float left
      margin 0 15px -8px 0

#page.index-prizes #inner
  h2 + p
    margin 0
    color hsla(0, 0%, 0%, 0.6)
  > ul
    list-style-type disc
    padding-left 20px

#page.login #inner
  text-align center
  .via
    font-size small
    margin-top 5px
  ul.options li
    display inline-block
    margin-right 1em
    a.button
      display inline-block
      width 120px
    .dude
      width 80px
      height 170px
      margin-left 35px
    .dude.beast
      background url(/images/734m/beast.png) no-repeat -640px 40px
    .dude.suit
      background url(/images/734m/suit.png) no-repeat -640px 0
    .dude.littleguy
      background url(/images/734m/littleguy.png) no-repeat -640px 75px
