border-image()
  -webkit-border-image arguments
  -moz-border-image arguments
  border-image arguments

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

@font-face
  font-family "04b_03"
  src url('/fonts/04b_03__-webfont.eot')
  src url('/fonts/04b_03__-webfont.eot?iefix') format('eot'), url('/fonts/04b_03__-webfont.woff') format('woff'), url('/fonts/04b_03__-webfont.ttf') format('truetype'), url('/fonts/04b_03__-webfont.svg#webfontiFL0wwqh') format('svg')
  font-weight normal
  font-style normal

header, footer
  display block
time
  display inline

body
  font-family "04b_03", monospace
  text-align center
  background hsl(200, 30%, 95%) url('/images/noise.png') repeat
  text-shadow 0px 1px 0px hsla(0, 100%, 100%, 0.6)
  overflow scroll

a:link, a:visited
  color hsl(200, 30%, 60%)

p
  line-height 150%

aside
  display block
  float right
  width 260px
  margin-top 50px
  table.important-dates
    width 100%
    border-collapse collapse
    td
      text-align right
  ul.sponsors
    list-style-type none
    margin 3em 0 0
    padding 0
    text-align center
    // sponsor logo list: x-height = ~25px; leading  = ~75px
    img
      margin-bottom 19px
    img.joyent
      width 179px
      height 51px
    img.github
      width 120px
      height 53px
    li.interested
      margin-top 15px

#page
  position relative
  width 900px
  margin 100px auto 0
  text-align left
  #inner
    background-color hsla(0, 0%, 100%, 0.6)
    border solid 1px hsla(0, 0%, 0%, 0.1)
    border-radius 2px
    z-index 10000
    position relative
    padding 10px
    width 580px

.thing
  position absolute
  .bubble
    position absolute
    left -15px
    width 294px - 20px - 21px
    max-height 133px - 21px - 42px
    border-image url('/images/734m/talkbubble1.png') 21 20 42 21
    border-width 21px 20px 42px 21px
    padding 5px
    display none
    text-align center
    overflow-y auto
    white-space pre-wrap
    line-height 125%
  ::-webkit-scrollbar
    width 1ex
  ::-webkit-scrollbar-thumb:vertical
    background-color hsla(0, 0%, 0%, 0.2)
  .textarea-container
    overflow hidden
    position relative
    height 1px
    width 1px
    textarea
      position absolute
      left -100px
      width 80px

#inner.index
  text-align center
  header
    h1
      font-size 72pt
      word-spacing -0.5ex
      .ko
        background-color black
        color white
        text-shadow 0px 2px 0px hsla(0, 100%, 100%, 0.5)
        padding 10px 10px 0 25px
        border-radius 2px
        border solid 1px hsla(0, 100%, 100%, 0.5)
  section
    margin 3em 0px
  .dates
    font-size 24pt
    margin 0.25em 0px
  #countdown, .now-what
    font-size 13pt
  footer
    margin-top 5em
    li
      display inline-block
      margin 0 1ex

#page.how-to-win
  .slide
    position absolute
    width 800px
    overflow hidden
    text-align left
    font-size 200%
    li
      line-height 150%

  // slide topology
  //   0 1
  // 4 3 2
  // 5 8 9
  // 6 7
  .slide#slide-0
    left 2000px
    top 0px
  .slide#slide-1
    left 3000px
    top 0px
  .slide#slide-2
    left 3000px
    top 1000px
  .slide#slide-3
    left 2000px
    top 1000px
  .slide#slide-4
    left 1000px
    top 1000px
  .slide#slide-5
    left 1000px
    top 2000px
  .slide#slide-6
    left 1000px
    top 3000px
  .slide#slide-7
    left 2000px
    top 3000px
  .slide#slide-8
    left 2000px
    top 2000px
  .slide#slide-9
    left 3000px
    top 2000px
