.details
  - if (person.company)
    .company!= markdown(person.company)
  - if (person.location && person.company)
    |  &mdash;
  - if (person.location)
    a.location( href: 'http://maps.google.com/?q=' + person.location )
      = person.location
  - if ((person.location || person.company) && (person.twitterScreenName || person.github_login))
    |  &mdash;
  - if (person.twitterScreenName || person.github_login)
    .icons
      - if (person.twitterScreenName)
        a.twitter( href: 'http://twitter.com/' + person.twitterScreenName )
          img( src: '/images/twitter.png' )
      - if (person.github_login)
        a.github( href: 'http://github.com/' + person.github_login )
          img( src: '/images/github.png' )
