!= partial('errors', { errors: person.errors })

.name.tabular
  label( for: 'name' ) Name
  input( type: 'text', name: 'name', id: 'name', value: person.name )

.email.tabular
  label( for: 'email' ) Email
  input( type: 'text', name: 'email', id: 'email', value: person.email )
  .note
    - if (person.role === 'contestant')
      | Only visible to team members.
    - else if (person === req.user)
      | Only visible to you.

- if (admin)
  .role.tabular
    label( for: 'role' ) Role
    select( name: 'role', id: 'role' )
      - each role in ['nomination', 'contestant', 'judge', 'voter']
        option( value: role, selected: (person.role === role) )= role.charAt(0).toUpperCase() + role.slice(1)
    span.technical
      input( type: 'checkbox', name: 'technical', checked: person.technical )
      | technical
    .admin
      input( type: 'checkbox', name: 'admin', checked: person.admin, 'id': 'admin' )
      label(for: 'admin') Admin

- if (person.role !== 'voter')
  h2.optional Optional

  .twitter.tabular
    label( for: 'twitter' ) Twitter
    | http://twitter.com/
    input( type: 'text', name: 'twitter', id: 'twitter', value: person.twitter )
    img.spinner( src: '/images/spinner.gif' )

  .image_url.tabular
    label( for: 'image_url' ) Picture
    - image_url = avatar_url(person, 80)
    img.avatar( src: image_url )
    input( type: 'hidden', name: 'image_url', value: person.image_url )
    button change

  .location.tabular
    label( for: 'location' ) Location
    input( type: 'text', name: 'location', id: 'location', value: person.location )

  .company.tabular
    label( for: 'company' ) Company
    input( type: 'text', name: 'company', id: 'company', value: person.company )

  .bio.tabular
    label( for: 'bio' ) Bio
    textarea( name: 'bio', id: 'bio' )= person.bio
    - if (person.role == 'judge')
      .note
        | A 2-3 sentence bio for the
        != ' <a href="/judging">judges page</a>.'
