h1 People
ul
  - each person in people
    li
      a( href: '/people/' + person.id )= person.name || '?'
      |  -
      = person.role
      - if (person.contestant)
        |  -
        a( href: 'https://github.com/' + person.login )= person.login
      |  -
      = person.location
